Honour Code
I **CHIBUIKEM, MBONU**, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code. Non-compliance with the honour code constitutes a material breach of contract.

Exam Overview: Language Identification Analysis 2022
South Africa is a multicultural society that is characterised by its rich linguistic diversity. Language is an indispensable tool that can be used to deepen democracy and also contribute to the social, cultural, intellectual, economic and political life of the South African society.

The country is multilingual with 11 official languages, each of which is guaranteed equal status. Most South Africans are multilingual and able to speak at least two or more of the official languages. With such a multilingual population, it is only obvious that our systems and devices also communicate in multi-languages.

In this challenge, you will take text which is in any of South Africa's 11 Official languages and identify which language the text is in. This is an example of NLP's Language Identification, the task of determining the natural language that a piece of text is written in.

In [44]:
#Import necessary packages for the modeling
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import f1_score, log_loss

In [45]:
#loading of the train data set
train = pd.read_csv('train_set.csv')

In [46]:
#this shows the first five row of the data set
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

This shows the different words classified in different languages spoken in South Africa, with English language classified as eng

In [47]:
#transform the lang_id column into numerical value
le = LabelEncoder()
le.fit(train.lang_id)
train.lang_id = le.transform(train.lang_id)

The observations in the lang_id column, which are originally string-like objects were transformed to numerical values using the LabelEncoder because the classification model takes in numerical data for training

In [48]:
train.head()

   lang_id                                               text
0        9  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1        9  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2        1  the province of kwazulu-natal department of tr...
3        3  o netefatša gore o ba file dilo ka moka tše le...
4        8  khomishini ya ndinganyiso ya mbeu yo ewa maana...

Here, the values for the lang_id column have been

In [49]:
#create a bag of words for the data set that will be used for training
vect = CountVectorizer()
X_count = vect.fit_transform(train['text'])

In [50]:
#splitting the data into features and label
X = X_count
y = train['lang_id']

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 47)

In [55]:
#instantiate the naive_bayes object
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train, y_train)
pred = naive_bayes.predict(X_test)

In [56]:
#calculate the log loss
y_hat = naive_bayes.predict_proba(X_test)

In [54]:

f1 = f1_score(y_test, pred, average ='weighted')
loss = log_loss(y_test, y_hat)
print('the test f1_score is: {}'.format(f1))
print('the test log_loss is: {}'.format(loss))

the test f1_score is: 0.999545454660823
the test log_loss is: 0.001273889969532281

An f1_score of 0.99 was gotten from the prediction made on the unseen test data during splitting

In [36]:
#load the test_set.csv data set
test = pd.read_csv('test_set.csv')
test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

When making predictions on the test set, any data cleaning, feature engineering, feature preprocessing and transformation performed on the train data before fitting it to a model would also be performed on the test data

In [37]:
#transform the test data 
word = vect.transform(test['text'])

Unlike the train data where the text column was initially fitted and transformed by the CountVectorizer, the text column for the test_set data would only be transformed  by CountVectorizer object

In [38]:
y_pred = naive_bayes.predict(word)

Making prediction for the test_set

In [58]:
#transform the encoded values back to its original form of languages
result = list(le.inverse_transform(y_pred))

In [40]:
#reassign the index column to an index variable
index= test['index']

In [41]:
sub = pd.DataFrame(list(zip(index,  result)), columns = ['index', 'lang_id'])
sub.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr

The above cell shows the prediction the naive_bayes model made in terms of classifying the text in the test_set data to its respective classes of languages

In [42]:
sub.to_csv('first_submission.csv', index = False)

In [43]:
sub

      index lang_id
0         1     tsn
1         2     nbl
2         3     ven
3         4     ssw
4         5     afr
...     ...     ...
5677   5678     eng
5678   5679     nso
5679   5680     sot
5680   5681     sot
5681   5682     tso

[5682 rows x 2 columns]